@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+Pro&display=swap');
  
:root {
  --gray-color: #666;
  --white-color: #FFF;
  --main-font-fam: 'Source Sans Pro';
  --oswald-font: 'Oswald';

}

body {  
    margin: 0px;
    padding: 0px;
    background: #EEE;
}