
.small-logo{
    margin-right: 16px;
    margin-left: 5px;
}

.footer {
    background-color: #464547;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

.footer-logo{
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}

.footer-info {
    padding: 21px 0px 38px 0px;
    margin-left: 140px;
}

.address {
    margin-top: 12px;
}