
.learn-more {
    width: 100%;
    height: 666px;
    background: url("../assets/learn-more.jfif");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn-more-block {
    text-align: center;
}

.btn-play {

    height: 150px;
    width: 150px;
    border: none;
    border-radius: 50%;
    background-color: var(--blue-button-color);
}

.play-icon{
    position: relative;
    font-size: 70px;
    color: white;
    width: 55px;
    height: 70px;
    left: 7px;
}

.learn-more-block h2 {
    text-align: center;
    font-family: var(--oswald-font);
    font-style: normal;
    font-weight: var(--bolder-font-weight);
    font-size: 48px;
    line-height: 64px;
    color: var(--white-color);
}

.learn-more-block h3 {
    font-family: var(--main-font-fam);
    font-style: normal;
    font-weight: var(--regular-font-weight);
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: var(--white-color);
}