
.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 80px;
}

.main-block {
    text-align: center;
}

.main-title h2 {
    display: inline;
    text-align: center;
    font-family: var(--oswald-font);
    font-style: normal;
    font-weight: var(--bolder-font-weight);
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    color: #464547;
}

.main-block h3 {
    font-family: var(--main-font-fam);
    font-style: normal;
    font-weight: var(--regular-font-weight);
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: var(--gray-color);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 83px;
    padding-left: 10%;
    padding-right: 10%;
}

.main-block p {
    font-family: var(--main-font-fam);
    font-style: normal;
    font-weight: var(--regular-font-weight);
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: var(--gray-color);
}

.btn-read {
    border-radius: 18px;
    margin-top: 20px;
    padding: 5px 17px;
    background: var(--blue-button-color);
    border: none;
    font-family: var(--oswald-font);
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--white-color);
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {

    .main {
        width: 100%;
        display: block;
        text-align: center;
        margin: unset;
        padding-bottom: 100px;
    }

    .main-block{
        width: 100%;
        margin: unset;
    }

    .main-title h2 {
        display: block;
        text-align: left;
        padding-left: 27px;
        margin: unset;
    }

    .main-title br{
        display: none;
    }
    
    .main-block h3 {
        text-align: left;
        padding-left: 27px;
    }
  
    .grid-container {
        width: 100%;
        display: block;
        margin: unset;
        padding-left: unset;
        padding-right: unset;
    }

    .main-block p {
        font-family: var(--main-font-fam);
        font-style: normal;
        font-weight: var(--regular-font-weight);
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        color: var(--gray-color);  
    }

    .p1 {
        width: auto;
        padding-left: 27px;
        padding-right: 23px;
    }

    .p2 {
        width: auto;
        padding-left: 27px;
        padding-right: 23px;
    }

    .btn {
        padding-top: 24px;
      
        padding-left: 27px;
        text-align: left;
    }

    .btn-read {
        padding: 5px 17px;
        border: none;
        margin: unset;
    }

}